<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>blog.kkmrepository | index</title>
    <link rel="icon" href="/image/favicon/matrix.ico" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='/lib/bootstrap-5.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' type="text/css" href="/lib/TreeView/css/treeview.css">
    <link rel='stylesheet' type="text/css" href="/css/font.css">
    <script src='/lib/bootstrap-5.3.1/js/bootstrap.min.js'></script>
    <script src='/lib/jQuery-3.7.1/jquery.js'></script>
    <script src='/lib/TreeView/js/treeview.js'></script>
</head>
<body class="bg-body-tertiary">
    <header>
        <h1 id="title" class="m-5 text-center gx-5" onclick="location.href='/'">
            <img id="title-image" src="/image/icon/turtle.svg" width="100">
            <span id="title-text">blog.kkmrepository</span>
        </h1>
    </header>
    <main class="container mt-5">
        <div class="row">
            <nav class="col-md-2">
                <p class="well"><strong>Subjects</strong></p>
                <ul id="tree2">
                    <li><a href="#">TECH</a>
                        <ul>
                            <li>Company Maintenance</li>
                            <li>Employees
                                <ul>
                                    <li>Reports
                                        <ul>
                                            <li>Report1</li>
                                            <li>Report2</li>
                                            <li>Report3</li>
                                        </ul>
                                    </li>
                                    <li>Employee Maint.</li>
                                </ul>
                            </li>
                            <li>Human Resources</li>
                        </ul>
                    </li>
                    <li>XRP
                        <ul>
                            <li>Company Maintenance</li>
                            <li>Employees
                                <ul>
                                    <li>Reports
                                        <ul>
                                            <li>Report1</li>
                                            <li>Report2</li>
                                            <li>Report3</li>
                                        </ul>
                                    </li>
                                    <li>Employee Maint.</li>
                                </ul>
                            </li>
                            <li>Human Resources</li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <section class="col-md-10">
                <div id="subject">Hello World -!</div>
                <div id="article-list" class="mt-3">
                    <div class="article position-relative">
                        <span class="h5 fw-bold float-start">【테스트 게시글】</span>
                        <span class="badge bg-secondary">New</span>
                        <span class="float-end">2023-12-01-hh-mm-ss</span>
                    </div>
                </div>
                <article></article>
            </section>
        </div>
    </main>
</body>
</html>