<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>blog.kkmrepository | index</title>
    <link rel="icon" href="/image/favicon/matrix.ico" type="image/x-icon">
    <link rel='stylesheet' type='text/css' media='screen' href='/lib/bootstrap-5.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' type="text/css" href="/lib/TreeView/css/treeview.css">
    <link rel='stylesheet' type="text/css" href="/css/font.css">
    <link rel='stylesheet' type="text/css" href="/css/style.css">
    <script src='/lib/bootstrap-5.3.1/js/bootstrap.min.js'></script>
    <script src='/lib/jQuery-3.7.1/jquery.js'></script>
    <script src='/lib/TreeView/js/treeview.js'></script>
    <script src='/js/category.js'></script>
    <script>
        $(function() {
            category.init();
        });
    </script>
</head>
<body class="bg-body-tertiary">
    <header>
        <h1 id="title" class="m-5 text-center gx-5" onclick="location.href='/'">
            <img id="title-image" src="/image/icon/turtle.svg" width="100">
            <span id="title-text">blog.kkmrepository</span>
        </h1>
    </header>
    <main class="container mt-5">
        <div class="row">
            <nav class="col-md-3">
                <ul id="tree">
                    <li>
                        <a href="#" class="directory">Subjects</a>
                    </li>
                    <ul id="tree-for-root">
                    </ul>
                </ul>
            </nav>
            <section class="col-md-9">
                <div id="subject">Last 5 articles</div>
                <div id="article-list" class="mt-3">
                    <article class="lh-lg">
                        <span class="h5 fw-bold">【테스트 게시글】&nbsp;</span>
                        <span class="badge bg-secondary">New</span>
                        <span class="float-end">2023-12-01-hh-mm-ss</span>
                    </article>
                    <article class="lh-lg">
                        <span class="h5 fw-bold">【테스트 게시글】&nbsp;</span>
                        <span class="badge bg-secondary">New</span>
                        <span class="float-end">2023-12-01-hh-mm-ss</span>
                    </article>
                    <article class="lh-lg">
                        <span class="h5 fw-bold">【테스트 게시글】&nbsp;</span>
                        <span class="badge bg-secondary">New</span>
                        <span class="float-end">2023-12-01-hh-mm-ss</span>
                    </article>
                    <article class="lh-lg">
                        <span class="h5 fw-bold">【테스트 게시글】&nbsp;</span>
                        <span class="badge bg-secondary">New</span>
                        <span class="float-end">2023-12-01-hh-mm-ss</span>
                    </article>
                    <article class="lh-lg">
                        <span class="h5 fw-bold">【테스트 게시글】&nbsp;</span>
                        <span class="badge bg-secondary">New</span>
                        <span class="float-end">2023-12-01-hh-mm-ss</span>
                    </article>
                </div>
                <article id="contents"></article>
            </section>
        </div>
    </main>
</body>
</html>